@import "variables.scss";
@import 'mixin.scss';

.page-container{
    margin: auto;
    max-width: calculadora-rem(1440);
    overflow-x: hidden;
}

.top-text{
    @include flex();
    width: 100%;
    height: calculadora-rem(30);
    background-color: $darkPurple;
}

.top-text-content{
    font-family: $firstFont;
    font-size: calculadora-rem(12);
    margin-right: calculadora-rem(12.67);
    margin-left: calculadora-rem(12.67);
    color: #FFFFFF;
    font-weight: 300;
    text-transform: uppercase;
}

.arrow{
    width: calculadora-rem(8.33);
    height: calculadora-rem(10.83);
}

.logo{
    @include flex();
    font-size: calculadora-rem(48);
    width: calculadora-rem(238);
    height: calculadora-rem(36);
    line-height: 36px;
}

.main-menu{
    width: 100%;
    @include flex();
    color: #FFFFFF;
    font-family: $secondFont;
    background-color: $purple;
    text-transform: uppercase;
    height: calculadora-rem(79);
    padding: 20px 0;
}

.header-menu{
    @include flex(space-between);
}

.header-menu--wrapper{
    color: #FFFFFF;
    font-family: $firstFont;
    font-weight: 700;
    font-size: calculadora-rem(14);
    text-transform: uppercase;
}

.header-menu--wrapper--items{
    display: none;
}

.header-menu--sub-item{
    display: none;
}

.main-banner {
    width: 100%;
}

.container{
    width: 100%;
    background: $grey;
    position: relative;

    @include flex();
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
