@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Ovo&display=swap");
.top-text {
  background-color: #614B65;
}

.top-text__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
}

.top-text__item {
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  margin-right: 12.67px;
  margin-left: 12.67px;
  color: #FFFFFF;
  font-weight: 300;
  text-transform: uppercase;
}

.top-text strong {
  font-weight: 700;
}

.arrow {
  width: 8.33px;
  height: 10.83px;
}

.main-menu {
  background: #9A7AA0;
  padding: 3px 0;
}

.main-menu__container {
  max-width: 1220px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1366px) {
  .main-menu__container {
    margin: 0 5%;
  }
}

.main-menu__logo {
  font-size: 3rem;
  font-family: "Ovo", serif;
  color: #FFFFFF;
  text-transform: uppercase;
}

.main-menu__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 30px;
}

.main-menu__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15%;
}

.main-menu--items {
  display: none;
  position: absolute;
  top: 100%;
  min-width: 200px;
  max-height: 300px;
  background: #FFFFFF;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0;
  border-top: 6px solid #614B65;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  overflow-x: hidden;
}

.main-menu--items::-webkit-scrollbar-thumb {
  background: #C4C4C4;
}

.main-menu--items::-webkit-scrollbar-track {
  scrollbar-color: #C4C4C4 #9A7AA0;
}

.main-menu--items::-webkit-scrollbar {
  width: 10px;
  background: #9A7AA0;
  border-radius: 10px;
}

.main-menu--items__menu-wrapper {
  position: relative;
}

.main-menu--items__menu-wrapper:hover .main-menu__menu--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-menu--items__menu-wrapper:nth-child(6) .main-menu__menu--items {
  background-color: #614B65;
}

.main-menu--items__menu-wrapper:nth-child(6) .main-menur__menu-category {
  color: #FFFFFF;
  font-weight: 400;
}

.main-menu--items__menu-wrapper:nth-child(6) .main-menu__menu--sub-item a {
  color: #5C5762;
}

.main-menu--items__menu-department {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 30px 5px;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: bold;
  color: #FFFFFF;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans", sans-serif;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.main-menu--items__menu-department:hover {
  color: #542D84;
}

.main-menu--items__menu-department:hover .main-menu__menu--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-menu--items__menu-department:hover ~ .main-menu__menu--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-menu--items__menu-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 10px;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: bold;
  color: #5C5762;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans", sans-serif;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.main-menu--items__menu-category:hover {
  background-color: #C4C4C4;
}

.main-menu--items__menu--sub-item {
  display: none;
  position: absolute;
  background: #FFFFFF;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: -6px;
  left: 100%;
  width: 100%;
  border-top: 6px solid #614B65;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.main-menu--items__menu-wrapper-items:hover .main-menu__menu--sub-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-menu--items__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15%;
}

.main-menu .main-banner {
  width: 100%;
}

.main-menu .container {
  width: 100%;
  background: #C4C4C4;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-menu .container__wrapper {
  width: 100%;
  height: 100%;
}

.main-menu .swiper {
  width: 100%;
  height: 100%;
}

.main-menu .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-menu .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-menu footer {
  background: #9A7AA0;
}

.main-menu .footer__container {
  max-width: 1220px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 1366px) {
  .main-menu .footer__container {
    margin: 0 5%;
  }
}

@media (max-width: 1024px) {
  .main-menu .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-menu .footer__links-title {
  font-size: 1rem;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 1024px) {
  .main-menu .footer__links-title {
    font-size: 30px;
    padding: 10px 0;
    margin: 10px 0;
  }
}

.main-menu .footer__links-link {
  text-decoration: none;
  font-size: 0.875rem;
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  padding: 10px 0;
  display: inline-block;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.main-menu .footer__links-link:hover {
  color: #b3b3b3;
}

@media (max-width: 1024px) {
  .main-menu .footer__links-list {
    display: none;
  }
  .main-menu .footer__links-list.show-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=styles.css.map */